<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <main>
      <div class="container-md">
        <p>Error</p>
      </div>
    </main>
    <%- include('partials/scripts') %>
  </body>
</html>
