<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <main>
      <div class="container-md">
        <form action="/results" method="POST">
          <label for="urlInput" class="form-label">Url</label>
          <input type="text" name="url" class="form-control" id="urlInput" />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>
    <%- include('partials/scripts') %>
  </body>
</html>
