<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <main>
      <div class="container-md">
        <div>
          <% if (content.length === 0) { %>
          <p>No content to show</p>
          <% } else { %>
          <p>Content:</p>
          <% } %>
        </div>
        <% for( let index = 0; index < content.length; index++ ) { %>
        <div class="row mt-4">
          <div class="col-9">
            <img src="<%= content[index].image %>" />
          </div>
          <div class="col-3">
            <div><%= content[index].html %></div>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <%- include('partials/scripts') %>
  </body>
</html>
